
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OCR parse</title>

    <!-- Bootstrap Core CSS 
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    Custom CSS 
    <link href="/static/css/landing-page.css" rel="stylesheet">

    Pricing CSS 
    <link href="/static/css/pricing.css" rel="stylesheet">
    -->

    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"></strong>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/landing-page.css') }}"></strong>


    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cardo">





    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/templates/index.html">Pixi</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="section-heading">Pixi</h1>
                        <h4>For Slack.</h4>
                        <!--<h3>Makes images posted in slack chat channels searchable.</h3>-->
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://slack.com/oauth/authorize?client_id=13657523393.23587667329&scope=bot+files%3Awrite%3Auser+chat%3Awrite%3Abot+team%3Aread">    
                                    <img alt="Learn More" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->


    <div class="content-section-a">

        <div class="container">


            <div class="row">
            <div>
                <h3 class="section-heading">
                    Pixi - For Slack
                </h3>
                <p class="lead"> Make the text in images posted in slack channels completely searchable
                Search through uploaded images in any public channel using Slack's powerful search. Just upload a screenshot or text image, and Pixi will post a comment following the upload into the channel. Pixi uses cutting edge Optical Character Recognition technology to make your content available when you need it. 
                </p>
            </div>
            </div>

        </div>
    </div>
        <!-- /.container -->
</div>

    <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Post</h2>
                    <p class="lead">
                        Post files in any format below, and Pixi follows up with a comment. 
                        <ul>
                          <li>JPEG</li>
                          <li>JPG</li>
                          <li>PNG</li>
                          <li>PDF</li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <a href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="" data-target="#image-gallery-2">
                        <img class="img-responsive image"  src="/static/img/phones2.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Search</h2>
                    <p class="lead">
                        Now you can search the text of files, including images, instantly.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <a href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="" data-target="#image-gallery">
                        <img class="img-responsive image" src="/static/img/phones.png" alt="">
                    </a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <a name="pricing"></a>
    <div class="content-section-b">
        <div class="container">
            <div class="row pricing">
                <h3>
                    Pick a plan that works best:
                </h3>

                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                FREE PLAN</h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>FREE</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>100 file uploads/month</li>
                        </ul>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                PREMIUM PLAN</h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>$9 / month per team</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal or Business use</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited uploads</li>
                        </ul>
                        <div class="panel-footer">
                            <form action="/charge" method="POST">
                              <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_Xistr2wwJSjm9Ko3h5iMWGG0"
                                data-image="/static/img/pixibot.jpg"
                                data-name="PixiBot Baby"
                                data-description="Subscription for monthly PixiBot use"
                                data-amount="900"
                                data-label="Sign Me Up!" >
                              </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a 
    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Add Pixi to Slack:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                                <a href="https://slack.com/oauth/authorize?scope=client&client_id=13657523393.23587667329">
                                    <img alt="Learn More" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
                                </a>
                            </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/templates/index.html">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#pricing">Pricing</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Pixi 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="/static/img/phones.png">
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="image-gallery-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="/static/img/phones2.png">
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
    </div>


    <!-- javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>-->


</body>

</html>
