
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="google-site-verification" content="KGxN-ARUT-Xk_w9uSQLWEaWPXqRZ0AM8tkeWyk9wVig"/>
    <meta name="author" content="">

    <title>Pixibot</title>

    <link rel='shortcut icon' href='static/ico/main.ico' type='image/x-icon'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing-page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pricingtable/style.css') }}">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cardo|Droid+Serif|Eczar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <!-- form validator -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand topnav" href="/">-->
                    <!--<img alt="Brand" src="/static/ico/pixilogo32x32.ICO">-->
                <!--</a>-->
                <a class="navbar-brand topnav" href="/">Pixibot</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="/privacy">Privacy</a>
                    </li>
                    <li>
                       <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#exampleModal2">Contact</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="intro-message">
                        <img style="display:inline-block; max-width:60%; height:auto" src="/static/img/main.png"  class="img-circle">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="image-wrapper">
                        <video width='100%' height='100%' autoplay muted loop class="img img-responsive">
                            <source src="/static/img/pixi_intro.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr class="intro-divider">
            <p class="intro-description">Pixibot extracts text from images uploaded to Slack and adds it as a file comment. </p>
            <p class="intro-description">Now you can use Slack's search to find text in uploaded images!</p>
            <ul style="padding-top:18px;" class="list-inline intro-social-buttons">
                <li>
                    <button type="button" id="free_add" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#exampleModal3" data-whatever="">
                        Add to Slack
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <section id="services">
            <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 >Upload to Slack</h3>
                    <p>Post screenshots or other files in any image format below, and @pixibot follows up with a comment. We currently acccept the following image formats: JPG/JPEG, PNG
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 >Search</h3>
                    <p>Now you can search the text of uploaded image files with @pixibot's help using Slack's powerful search functionality.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 >In-app commands</h3>
                    <p>Interact with @pixibot directly in Slack. Use these in-app commands to interact with @pixibot directly in your channels. Start with "@pixibot help" to get started!</p>
                </div>
            </div>
            </div>
                </section>
            </div>
        </div>
    </div>

    <a name="guide"></a>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="center">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>Quick Guide: Getting Started</h2><br><br>
                    <div class="clearfix"></div>
                    <p class="lead">1. Begin adding Pixibot to your Slack Teams with <button type="button" id="free_add" class="btn btn-success" data-toggle="modal" data-target="#exampleModal3" data-whatever="">
                                Add to Slack
                            </button></p>
                    <p class="lead">2. Add @pixibot to <strong>public</strong> channels </p>
                    <p class="lead">3. Post files, and Search!</p>
                    <p class="lead">4. <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="{{team}}">Subscribe</button> to Pixibot for premium access to the service </p>
                    <div class="clearfix"></div>
                    <hr class="section-heading-spacer">
                </div>
            </div>
        </div>
    </div>

    <a name="pricing"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row pricing">
                <h3>
                    Subscribe now:
                </h3>
<!--                 <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                FREE PLAN</h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>$0 / month per team</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>100 file uploads/month</li>
                        </ul>
                        <div class="panel-footer">
                             <button type="button" id="free_add" class="btn btn-success" data-toggle="modal" data-target="#exampleModal3" data-whatever="">
                                Free Plan
                            </button>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                PREMIUM PLAN</h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>$9 / month per team</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal or Business use</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited uploads</li>
                        </ul>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="{{team}}">Purchase</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
         <a name="contact"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#pricing">Pricing</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/privacy">Privacy</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Contact</button></a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Pixi 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Enter Slack Team Name</h4>
      </div>
      <div class="modal-body">
        <form id="myform">
            <p>If you haven't already done so, add Pixibot to your Slack Team: </p>
            <a href="https://slack.com/oauth/authorize?client_id=13657523393.23587667329&scope=bot">
                <img alt="Learn More" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
            </a>
            <br>
            <p>If you've already added Pixibot, enter your Slack team here, then click the "Purchase with Stripe" button, below!</p>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Team Name:</label>
            <input type="text" class="form-control" name = "team_name" id="recipient-name">
          </div>
            <!--<div class="form-group">-->
            <!--<label for="recipient-email" class="control-label">Your email:</label>-->
            <!--<input type="text" class="form-control" name = "team_name" id="recipient-email">-->
          <!--</div>-->
        </form>
      </div>
      <div class="modal-footer">
          <button id="customButton" data-dismiss="modal" type="button" class="btn btn-success">Purchase with Stripe</button>
          <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
          <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
          <script src="https://checkout.stripe.com/checkout.js"></script>
          <script>
                data = {};
                data.team_name = '{{team}}';
                $('#exampleModal').on('show.bs.modal', function (event) {
                  var button = $(event.relatedTarget) // Button that triggered the modal
                  var recipient = button.data('whatever') // Extract info from data-* attributes
                  var modal = $(this)
                  modal.find('.modal-title').text('Enter Slack Team Name')
                  data.team_name = recipient;
                  modal.find('.modal-body input').val(recipient)
                })
                var handler = StripeCheckout.configure({
                  key: 'pk_live_RoMfmcIYyFiSDNPtiLhWiQ2r',
                  image: '/static/img/main.png',
                  locale: 'auto',
                  token: function(token) {
                    // You can access the token ID with `token.id`.
                    // Get the token ID to your server-side code for use.
                    team_name = data.team_name;
                    $.ajax({
                        type : "POST",
                        url : "/plan_registration",
                        data: JSON.stringify({token_id: token.id, email: token.email, team_name: team_name}),
                        contentType: 'application/json;charset=UTF-8',
                        success: function(result) {
                            console.log(result);
                        }
                    });
                   }
                });
                document.getElementById('customButton').addEventListener('click', function(e) {
                  // Open Checkout with further options:
                  data.team_name = $("#exampleModal #recipient-name").val().trim();
                  //data.email = $("#exampleModal #recipient-email").val().trim();

                  handler.open({
                    name: 'pixibot',
                    description: 'Premium Subscription',
                    zipCode: true,
                    amount: 900,
                  });
                  e.preventDefault();
                });
                // Close Checkout on page navigation:
                window.addEventListener('popstate', function() {
                  handler.close();
                });


          </script>
      </div>
    </div>
  </div>
</div>
    </body>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel2">Contact Form</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="sender-name" class="control-label">Name:</label>
            <input type="text" class="form-control" name = "name" id="sender-name">
          </div>
        </form>
          <form>
          <div class="form-group">
            <label for="sender-email" class="control-label">Email:</label>
            <input type="text" class="form-control" name = "email" id="sender-email">
          </div>
        </form>
          <form>
          <div class="form-group">
            <label for="sender-msg" class="control-label">Message:</label>
            <textarea class="form-control" rows="5" name="email" id="sender-msg"></textarea>
          </div>
        </form>
      </div>
        <div class="modal-footer">
        <button type="button" data-dismiss="modal" type="submit" id="email_submit" class="btn btn-primary">Send Email</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel3">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel3">Basic Information</h4>
      </div>
      <div class="modal-body">
        <p>Please enter your Slack Team Name and preferred contact email address below:</p>
        <br>
        <form action="/new_user" method="post">
          <div class="form-group">
            <label for="team">Team Name</label>
            <input type="text" class="form-control" id="team" name="team" placeholder="Team Name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    </div>
</div>

</div>


    <script>

    document.getElementById('email_submit').addEventListener('click', function(e) {
          name = $("#exampleModal2 #sender-name").val().trim();
          sender_email = $("#exampleModal2 #sender-email").val().trim();
          message = $("#exampleModal2 #sender-msg").val().trim();
          $.ajax({
                type : "POST",
                url : "/contact_form",
                data: JSON.stringify({name: name, email: sender_email, message: message}),
                contentType: 'application/json;charset=UTF-8',
            });
          e.preventDefault();
        });
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88969596-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pricingtable/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pricingtable/modernizr.js') }}"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>-->


</body>

</html>
